version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.5.3

commands:
  pnpm_setup:
    steps:
      - run:
          name: Install pnpm package manager
          command: |
            echo "Before: corepack version => $(corepack --version || echo 'not installed')"
            sudo npm install -g corepack@latest
            echo "After : corepack version => $(corepack --version)"
            sudo corepack enable
            pnpm --version
            pnpm config set store-dir ~/repo/.pnpm-store
      - restore_cache:
          name: Restore pnpm package cache
          keys:
            - pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
      - run:
          name: Install Dependencies
          command: pnpm install --frozen-lockfile

jobs:
  install:
    docker:
      - image: cimg/node:22.12.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - pnpm_setup
      - save_cache:
          name: Save pnpm package cache
          key: pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - .pnpm-store

  validate:
    docker:
      - image: cimg/node:22.12.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - pnpm_setup
      - run:
          name: Lint + Typecheck
          command: pnpm validate

  test-unit:
    docker:
      - image: cimg/node:22.12.0-browsers
    working_directory: ~/repo
    resource_class: medium+
    parameters:
      react-major-version:
        type: string
    steps:
      - checkout
      - pnpm_setup
      - run:
          name: Jest Suite
          command: pnpm test
          environment:
            JEST_JUNIT_OUTPUT: 'test-reports/junit/js-test-results.xml'
            REACT_MAJOR_VERSION: << parameters.react-major-version >>

      - store_test_results:
          path: test-reports/junit

  test-bundle:
    docker:
      - image: cimg/node:22.12.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - pnpm_setup
      - run:
          name: Check Bundle Size
          command: pnpm run bundle-size:check

  build:
    docker:
      - image: cimg/node:22.12.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - pnpm_setup
      - run:
          name: Build asset
          command: pnpm build
      - persist_to_workspace:
          root: dist
          paths:
            - '*'

  test-browser:
    docker:
      - image: cimg/node:22.12.0-browsers
    working_directory: ~/repo
    environment:
      CYPRESS_CACHE_FOLDER: ~/repo/.cache/Cypress
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - pnpm_setup
      - run:
          name: Make sure cypress binary is installed
          command: pnpm cypress install
      - attach_workspace:
          at: ~/repo/dist
      - run:
          name: 'Run cypress'
          command: node browser-test-harness.js browser
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots

  test-a11y:
    docker:
      - image: cimg/node:22.12.0-browsers
    working_directory: ~/repo
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - pnpm_setup
      - attach_workspace:
          at: ~/repo/dist
      - run:
          name: Accessibility Audit
          command: node browser-test-harness.js accessibility
      - store_artifacts:
          path: test-reports/lighthouse
      - store_test_results:
          path: test-reports/lighthouse

workflows:
  version: 2
  build:
    jobs:
      - install
      - validate:
          requires:
            - install
      - test-unit:
          matrix:
            parameters:
              react-major-version: ['18', '19']
          requires:
            - install
      - test-bundle:
          requires:
            - install
      - build:
          requires:
            - install
      - test-browser:
          requires:
            - build
      - test-a11y:
          requires:
            - build
